@model proyecto.Models.sp_Selecionar_Polizas_Admin_Detalles_Id_Result

@{
    ViewBag.Title = "Borrar Poliza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container col-md-offset-4 col-md-7">
    <h2>Borrar Poliza</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cedula)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cedula)
            </dd>

            <dt>
                @Html.DisplayName("Nombre Completo")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombreCompleto)
            </dd>

            <dt>
                @Html.DisplayName("ID Poliza")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idRegistroPoliza)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayName("Monto Asegurado")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.montoAsegurado)
            </dd>

            <dt>
                @Html.DisplayName("% Cobertura")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.porcentajeCobertura)
            </dd>

            <dt>
                @Html.DisplayName("Número Adiciones")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numeroAdiciones)
            </dd>

            <dt>
                @Html.DisplayName("Monto Adiciones")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.montoAdiciones)
            </dd>

            <dt>
                @Html.DisplayName("Prima Antes Impuestos")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.primaAntesImpuestos)
            </dd>

            <dt>
                @Html.DisplayName("Impuestos")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.impuestos)
            </dd>

            <dt>
                @Html.DisplayName("Prima Final")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.primaFinal)
            </dd>

            <dt>
                @Html.DisplayName("Fecha Vencimiento")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaVencimiento)
            </dd>

        </dl>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Borrar" class="btn btn-warning btn-sm" />
        <a href='@Url.Action("Index", "PolizasClientes")'>
            <input type='button' value='Cancelar' class="btn btn-danger btn-sm" />
        </a>
    </div>
    }

</div>



