@model proyecto.Models.sp_Selecionar_Polizas_Modelo_Result

@{
    ViewBag.Title = "Editar Poliza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body background="\img\Prueba.png" style="width:100%; height:100%; background-size: cover;">
    <div class="container justify-content-center" style="background-color:white; border-radius:10px 10px ">
        <h2>Editar Poliza</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal form-group-sm col-md-12">
                @*<h4>sp_Selecionar_Polizas_Modelo_Result</h4>*@
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group col-xs-12 col-md-6">
                    @Html.Label("ID Cliente", "ID Cliente", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.idCliente, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.idCliente, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.Label("ID Poliza", "ID Poliza", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.idRegistroPoliza, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.idRegistroPoliza, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.Label("Cobertura:", "Cobertura:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.idCoberturaPoliza, ViewBag.coberturas as SelectList, "-- Seleccione una Cobertura --", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.idCoberturaPoliza, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.Label("Porcentaje %:", "Porcentaje %:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.porcentajeCobertura, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.porcentajeCobertura, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.Label("Monto Asegurado:", "Monto Asegurado:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.montoAsegurado, new { htmlAttributes = new { @class = "form-control", @min = "3000000", @max = "100000000", @type = "number", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.montoAsegurado, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.Label("Número adiciones:", "Número adiciones:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.numeroAdiciones, new { htmlAttributes = new { @class = "form-control", @Value = Convert.ToInt32(@ViewBag.cantAdiciones), @readonly = "readonly", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.numeroAdiciones, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.Label("Monto adicciones:", "Monto adicciones:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.montoAdiciones, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.montoAdiciones, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.primaAntesImpuestos, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.primaAntesImpuestos, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.primaAntesImpuestos, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group  col-xs-12 col-md-6">
                    @Html.Label("Prima Antes:", "Prima Antes:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.primaAntesImpuestos, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.primaAntesImpuestos, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.impuestos, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.impuestos, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.impuestos, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group col-xs-12 col-md-6">
                    @Html.Label("Impuestos:", "Impuestos:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.impuestos, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.impuestos, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.primaFinal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.primaFinal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.primaFinal, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group col-xs-12 col-md-6">
                    @Html.Label("Prima final:", "Prima final:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.primaFinal, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.primaFinal, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.fechaVencimiento, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.fechaVencimiento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fechaVencimiento, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group col-xs-12 col-md-6">
                    @Html.Label("Fecha Vencimiento:", "Fecha Vencimiento:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.fechaVencimiento, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "form-control", required = "required", @type = "datetime-local" })
                        @Html.ValidationMessageFor(model => model.fechaVencimiento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-12">
                    <div class="col-md-7">
                        <input type="submit" style="float:right; margin-left:20px" value="Actualizar" class="btn btn-success btn-sm" />
                        <a href='@Url.Action("Index", "PolizasClientes")'>
                            <input type='button' style="float:right" value='Cancelar' class="btn btn-danger btn-sm" />
                        </a>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-offset-2 col-md-8">
            @if (ViewData["Mensaje"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewData["Mensaje"]
                </div>
            }

            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }
        </div>
    </div>
    </body>
    @section Scripts{
        <script>
            $(document).ready(function () {
                $("#idCoberturaPoliza").change(function () {
                    $.get("/Clientes/RetornaPorcentaje?",
                        { idCoberturaPoliza: $("#idCoberturaPoliza").val() },
                        function (data) {
                            $("#porcentajeCobertura").empty();
                            $.each(data, function (index, row) {
                                $("#porcentajeCobertura").val(row.Porcentaje);
                            });
                        }
                    )
                });
                //var x = $("#cantAdiciones2").val();
                //$("#cantAdiciones").val(x);

                $("#montoAsegurado").focusout(montoAdiciones);

                function montoAdiciones() {
                    var cantAdiciones = parseInt($("#numeroAdiciones").val());
                    var porcentaje;
                    switch (cantAdiciones) {
                        case (cantAdiciones = 1):
                            porcentaje = 0.05;
                            break;
                        case (cantAdiciones = 2):
                            porcentaje = 0.10;
                            break;
                        case (cantAdiciones = 3):
                            porcentaje = 0.10;
                            break;
                        case (cantAdiciones > 3):
                            porcentaje = 0.15;
                            break;
                        default:
                            porcentaje = 0;
                            break;
                    }
                    var montoAsegurado = parseInt($("#montoAsegurado").val());

                    var totalMontoAdiciones;

                    totalMontoAdiciones = porcentaje * montoAsegurado
                    $("#montoAdiciones").val(totalMontoAdiciones);

                    var PrimaAntesImpuestos;

                    PrimaAntesImpuestos = totalMontoAdiciones + montoAsegurado;

                    $("#primaAntesImpuestos").val(PrimaAntesImpuestos);

                    var impuestos = PrimaAntesImpuestos * 0.13;

                    $("#impuestos").val(impuestos);

                    var primaFinal;

                    primaFinal = impuestos + PrimaAntesImpuestos;

                    $("#primaFinal").val(primaFinal);

                }
            });
        </script>
    }
