@model IEnumerable<proyecto.Models.sp_Selecionar_Polizas_Admin_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idRegistroPoliza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.primaFinal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idRegistroPoliza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.primaFinal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.idRegistroPoliza  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.idRegistroPoliza }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.idRegistroPoliza })
        </td>
    </tr>
}

</table>
