@model IEnumerable<proyecto.Models.sp_getAdicciones_Result>

@{
    ViewBag.Title = "Index";
}


<body background="\img\Prueba.png" style="width:100%; height:100%; background-size: cover;">
    <div class="container justify-content-center" style="height: 700px; width: 800px; background-color: white; border-radius: 10px 10px ">

        <div class="text-center">
            <h3><p>A continuación se muestran la información de las Adicciones</p></h3>
        </div>
        <div class="table-responsive">
            <table class="table caption-top table-sm">
                <thead>
                    <tr>
                        <th scope="col">Número</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Código</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@Html.DisplayFor(modelItem => item.idAdiccion)</th>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td> @Html.DisplayFor(modelItem => item.Codigo)</td>

                            <td class="actions">
                                <button class="btn btn-warning btn-sm" onClick="edit(@Html.DisplayFor(modelItem => item.idAdiccion))">Editar</button>
                                <button class="btn btn-danger btn-sm" type="button" onClick="deleteElement(@Html.DisplayFor(modelItem => item.idAdiccion))">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-primary" style="margin-left:40%;" @Html.ActionLink("Crear adiccion nueva", "Create")</a>
        </div>
        </div>
</body>

        <script type="text/javascript">
            function deleteElement(value) {
                debugger;
                let url = '/Adicciones/EliminarAdiccion?idAdiccion=' + value;
                location.href = url;
            }</script>

        <script type="text/javascript">
            function edit(value) {
                debugger;
                let url = '/Adicciones/Editar?idAdiccion=' + value;
                location.href = url;
            }</script>

