@model IEnumerable<proyecto.Models.sp_getClientesDDL_Result>

@{
    ViewBag.Title = "ClientesxAdiciones";
}


<body background="\img\Prueba.png" style="width:100%; height:100%; background-size: cover;">
    <div class="container justify-content-center" style="width: 1000px; background-color:white; border-radius:10px 10px ">
        <h2><p>Seleccione el cliente</p></h2>

        <div class="table-responsive">
            <table class="table caption-top table-sm">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@Html.DisplayFor(modelItem => item.idCliente)</th>
                            <td>@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.PrimerApellido) @Html.DisplayFor(modelItem => item.SegundoApellido) </td>


                            <td class="actions">
                                <button class="btn btn-primary btn-sm" onClick="edit(@Html.DisplayFor(modelItem => item.idCliente))">Agregar Adiciones</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
@section scripts{
    <script type="text/javascript">
        function edit(value) {
            debugger;
            let url = '/Clientes/InsertarAdiccion?idCliente=' + value;
            location.href = url;
        }
    </script>
}



