@model IEnumerable<proyecto.Models.sp_getClientes_Result>

@{
    ViewBag.Title = "Index";
}
<body background="\img\Prueba.png" style="width:100%; height:100%; background-size: cover;">
    <div class="container justify-content-center" style="width:auto; background-color: white; border-radius: 10px 10px ">

        <div class="text-center">
            <h3><p>A continuación se muestran la información de los Clientes</p></h3>
        </div>
        <div class="table-responsive">
            <table class="table caption-top table-sm">
                <thead>
                    <tr>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Direccion Fisica</th>
                        <th scope="col">Email</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cedula)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                                @Html.DisplayFor(modelItem => item.PrimerApellido)
                                @*@Html.DisplayFor(modelItem => item.SegundoApellido)*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DireccionFisica)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CorreoElectronico)
                            </td>
                            <td class="actions">
                                <button class="btn btn-warning btn-sm" onClick="edit(@Html.DisplayFor(modelItem => item.idCliente))">Editar</button>
                                <button class="btn btn-danger btn-sm" type="button" onClick="deleteElement(@Html.DisplayFor(modelItem => item.id_Usuario))">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="col-md-offset-2 col-md-8">
            @if (ViewData["Mensaje"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewData["Mensaje"]
                </div>
            }

            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }

            @if (TempData["info"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["info"]
                </div>
            }

            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["error"]
                </div>
            }
        </div>
    </div>
    
</body>



<script type="text/javascript">
            function deleteElement(value) {
                debugger;
                let url = '/Clientes/EliminarCliente?idUsuario=' + value;
                location.href = url;
            }</script>

<script type="text/javascript">
            function edit(value) {
                debugger;
                let url = '/Clientes/EditarCliente?idCliente=' + value;
                location.href = url;
            }</script>
