@model proyecto.Models.Adiciones
@{
    ViewBag.Title = "InsertarAdiccion";
    @*}
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="container">
        <div class="row">
            <div style="border: 1px solid #d5d7dd; margin-top:30px;padding:30px; border-radius: 15px; width:500px">
                <div class="form-group col-md-6">
                    Adicciones:
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.idAdiccion, ViewBag.adiccionList as SelectList, "-- Seleccione la Adiccion --", new { @class = "form-control", @required = "required", @id = "aux1" });
                        @Html.ValidationMessageFor(model => model.idAdiccion, "", new { @class = "text-danger" })
                    </div>
                    <input type="submit" value="Agregar" onclick="INSERT(aux1)" class="btn btn-success" />
                </div>
            </div>
        </div>
        <button class="btn btn-success btn-sm" type="button" onclick="location.href='@Url.Action("Adicciones", "Clientes")'">Siguiente</button>
    </div>
}
<script type="text/javascript">
    function INSERT() {
        debugger;
        var value = $("#aux1").val();
        let url = '/Clientes/InsertarAdicciones?idCliente=' + '@Session["usuario"]' + '&idAdicion=' + value;
        location.href = url;

    }</script>

