<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - El Equipo del Siglo XXI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/img/insurance.png" width="35" height="35" alt="" style="margin-top:-6px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @if (Session["usuario"] != null && Session["clientelog"] != null)
                {
                    if ((int)Session["clientelogRol"] != 1)
                    {
                        @*<li class="nav-link">@Html.ActionLink("Cobertura Polizas", "Index", "CoberturasPolizas")</li>
                <li class="nav-link">@Html.ActionLink("Adicciones", "Index", "Adicciones")</li>*@


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" style="color:white" role="button" data-toggle="dropdown" aria-expanded="false">
                                Adicciones
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Adicciones")">Ver adicciones</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color:white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Cobertura Polizas
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <li><a class="dropdown-item" href="@Url.Action("Index", "CoberturasPolizas")">Ver Coberturas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color:white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Clientes
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Clientes")">Ver Clientes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color:white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Polizas
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <li><a class="dropdown-item" href="@Url.Action("KendoGridPolizas", "PolizasClientes")">Ver Polizas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color:white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Administrar
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="dropdown-item" href="@Url.Action("LogOut", "Home")">Salir</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color:white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Polizas
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="@Url.Action("ClientesxPolizas", "Clientes")">Comprar Polizas</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("ClientesxAdiciones", "Clientes")">Adicciones</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "PolizasClientes")">Clientes Polizas</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("KendoGridPoliza", "PolizasClientes")">Ver mis polizas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" style="color:white" role="button" data-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                                </svg> @Session["clientelognombre"] @Session["clientelogapellido1"] @Session["clientelogapellido2"]@*<span class="caret"></span>*@
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="@Url.Action("PerfilCliente", "Clientes")">Mi Cuenta</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("LogOut", "Home")">Salir</a></li>
                            </ul>
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link active" style="color:white" aria-current="page" href="@Url.Action("Login", "Login")">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" style="color:white" aria-current="page" href="@Url.Action("About", "Home")">Nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" style="color:white" aria-current="page" href="@Url.Action("Contact", "Home")">Contáctenos</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container-fluid" style="margin-left: 0px; margin-right: 0px;margin-top: 60px ;padding: 0px !important; height:100% ; width:100%">
        @RenderBody()
    </div>



    <nav class="navbar  navbar-fixed-bottom navbar-light bg-primary">
        <div class="container-fluid">
            <span class="navbar-text" style="width: 100%; text-align: right; color: white;">
                &copy; @DateTime.Now.Year - El Equipo del Siglo XXI
            </span>
        </div>
       
    </nav>
    @section scripts{
        <script>

        </script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")




    @RenderSection("scripts", required: false)

</body>

</html>